h1 {
    font-family: 'Anton', sans-serif;
    color: aliceblue;
}

header {
    background-image: url('/Icones/Background.png');
    font-family: 'Anton', sans-serif;
    color: aliceblue;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
    position: -webkit-sticky;
    /* Safari */
    position: static;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

li a:hover {
    background-color: #002490;
    color: aliceblue;
}

.active {
    background-color: #002490;
    color:aliceblue;
}

.bandeiras {
    width: 100px;
    height: 200px;
}

.icone {
    float: left;

}

.icone_travel {
    float: right
}